// $colors: (
//     "dark": "#363740",
//     "light-grey": "#a4a6b3",
// );

// @each $colorname, $colorcode in $colors {
//     .bg-#{$colorname} {
//         background-color: $colorcode;
//     }
// }

$dark: #363740;
$light-grey: #dde2ff;
$grey: #a4a6b3;
$text-black: #252733;

$dark-blue: #252733;
$blue: #3751ff;
$light-blue: #96defd;

$dark-white: #f7f8fc;
$white: #fff;

$border-grey: #dfe0eb;
