.dashboard {
    display: flex;
    flex-direction: row;
    .dash-left {
        width: 250px;
        overflow: hidden;
    }
    .dash-right {
        width: 100%;
        overflow: hidden;
    }
}
