.dashboard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    .dash-left {
        // position: fixed;
        .slider {
            position: fixed;
        }
    }
    .dash-right {
        width: calc(100% - 80px);
    }
}
