@import "../mixins/mixins";
.dash-body {
    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        .left-header {
            font-size: $medium-heading;
            font-weight: $bold;
            color: $text-black;
        }
        .right-header {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            .name {
                font-size: $medium-text;
            }
        }
    }

    .d-card {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        color: white;
        background-color: $light-blue;
        border-radius: 10px;
        border-style: inset;
        border: 2px solid rgba($blue, 0);
        .card-title {
            font-size: $small-heading;
            font-weight: 500;
            letter-spacing: 0.4px;
            color: $grey;
        }
        .card-number {
            font-size: $large-heading;
            font-weight: bold;
            letter-spacing: 1px;
            color: $dark-blue;
        }
        .active {
            color: $blue;
        }
        &:hover {
            border: 2px solid rgba($blue, 1);
            .card-title {
                color: $blue;
            }
            .card-number {
                color: $blue;
            }
        }
    }
    .d-border {
        color: $blue;
        border-style: groove;
        border-color: $blue;
    }
    .graph-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: $white;
        border-style: groove;
        border-color: $border-grey;
        border-radius: 10px;
        .graph-right {
            border-style: groove;
            border-color: $border-grey;
            @include xxl {
                width: 75%;
            }
            @include xl {
                width: 100%;
            }
        }
        .graph-left {
            .graph-card {
                border-style: groove;
                border-color: $border-grey;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                text-align: center;
                color: white;
                .graph-card-title {
                    font-size: $large-text;
                    font-weight: 500;
                    letter-spacing: 0.4px;
                    color: $grey;
                }
                .graph-card-number {
                    font-size: $medium-heading;
                    font-weight: bold;
                    letter-spacing: 1px;
                    color: $dark-blue;
                }
                .active {
                    color: $blue;
                }
            }
            @include xxl {
                width: 25%;
            }
            @include xl {
                width: 100%;
            }
        }
    }
}
