@import "../variable/variable";
.main-sidebar {
    position: relative;
    height: 100vh;
    overflow-y: auto;
    background-color: $dark;
    color: $grey;
    font-size: $large-text;
    .title {
        font-size: $small-heading;
        font-weight: $bold;
    }
    .col {
        .active {
            background-color: rgba($light-grey, 0.08);
            color: $light-grey;
        }
    }
}
